<h2>Search Results for {{ myInstance.topic }}</h2>
{{#each myInstances as |myInstance|}}
    <li>
      {{myInstance.name}}<p>{{myInstance.description}}</p>
      <img src="{{myInstance.url}}">
      <div>
          <img id="icon" src="https://cdn-icons.flaticon.com/png/512/707/premium/707680.png?token=exp=1645848057~hmac=e2a4fcf67330737920bf447e6fd4cdae" onclick="this.src=`https://cdn-icons-png.flaticon.com/512/833/833472.png`">
        {{myInstance.hearts}}
      </div>
      <form action="/edit/{{ myInstance.id }}">
          <input type="submit" value="Edit" />
      </form>
    </li>
{{/each}}
